<div class="col s12 m6">
    <%= form_for([@survey_question, answer]) do |f| %>

        <% if answer.errors.any? %>
            <div class="row">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Error!</span>
                        <%= pluralize(answer.errors.count, "error") %>
                        prohibited this answer from being saved:
                        <ul>
                            <% answer.errors.full_messages.each do |msg| %>
                                <li><strong><%= msg %></strong></li>
                            <% end %><br />
                        </ul>
                    </div>
                </div>
            </div>
        <% end %>

        <section>
            <div class="row">
                <%= f.label :answer_text %><br />
                <%= f.text_field :answer_text, class: 'form-control' %>
                <%= f.hidden_field :survey_question_id, value: @survey_question.id %>
            </div>
        </section>

        <%= f.submit class: 'btn waves-effect waves-light' %>
    <% end %>
</div>