<div class="col s12 m6">
    <%= form_for([@survey, survey_question]) do |f| %>

        <% if survey_question.errors.any? %>
            <div class="row">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Error!</span>
                        <%= pluralize(survey_question.errors.count, "error") %>
                        prohibited this survey question from being saved:
                        <ul>
                            <% survey_question.errors.full_messages.each do |msg| %>
                                <li><strong><%= msg %></strong></li>
                            <% end %><br />
                        </ul>
                    </div>
                </div>
            </div>
        <% end %>

        <%= f.label :question_text %>
        <%= f.text_field :question_text, class: 'form-control' %>
        <%= f.hidden_field :survey_id, value: @survey.id %>
        <p>
            <%= f.check_box :fixed_question, type: 'checkbox', class: 'filled-in' %>
            <%= f.label :fixed_question %>
        </p>
        <%= f.submit class: 'btn waves-effect waves-light' %>
    <% end %>
</div>