<div class="col s12 m6">
    <%= form_for([@survey, survey_question]) do |f| %>

        <% if survey_question.errors.any? %>
            <div class="row">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Error!</span>
                        <%= pluralize(survey_question.errors.count, "error") %>
                        prohibited this survey question from being saved:
                        <ul>
                            <% survey_question.errors.full_messages.each do |msg| %>
                                <li><strong><%= msg %></strong></li>
                            <% end %><br />
                        </ul>
                    </div>
                </div>
            </div>
        <% end %>

        <section>
            <%= f.label :question_text %>
            <%= f.text_field :question_text, class: 'form-control' %>
            <%= f.label "Question Number" %>
            <%= f.number_field :question_no %>
            <%= f.hidden_field :survey_id, value: @survey.id %>
        </section>

        <section>
            <label>
                <%= f.check_box :fixed_question, class: 'filled-in' %>
                <span>Fixed Question?</span>
            </label><br />
        </section>

        <section>
            <% if survey_question.answers.any? %>
                <label>Answers for fixed question</label>
                <ul>
                    <% survey_question.answers.each do |answer| %>
                        <li>
                            <%= answer.answer_text %>
                            <%= 
                                link_to(
                                    'Edit answer',
                                    edit_survey_question_answer_path(survey_question, answer),
                                    class: 'question-options'
                                )
                            %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        </section>

        <%= f.submit class: 'btn waves-effect waves-light' %>
    <% end %>
</div>